{% extends '@Carbu/layout.html.twig' %}

{% block carbu_body %}

<h3>Pleins d'essence : {{ vehicle.name }}</h3>
<a class="btn btn-primary" href="{{ path('carbu_fuel_add', {'vehicle_oid': vehicle.oid}) }}">
    Ajouter un plein</a>

{% if fuels is empty %}
<p>Aucun pleins pour ce véhicule</p>
{% else %}
<table class="table table-condensed">
<thead>
<tr>
    <th>Date</th>
    <th>Litres</th>
    <th>Prix</th>
    <th>Distance</th>
    <th>KM Compteur</th>
    <th>#</th>
</tr>
</thead>
<tbody>
{% for fuel in fuels %}
<tr>
    <td>{{ fuel.date|date('d/m/Y H:i', timezone="Europe/Paris") }}</td>
    <td>{{ fuel.quantity }}</td>
    <td>{{ fuel.price }}</td>
    <td>{{ fuel.distance }}</td>
    <td>{{ fuel.meter }}</td>
    <td>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('carbu_fuel_edit', {'id': fuel.oid, 'vehicle_oid': vehicle.oid}) }}">Editer</a></li>
            </ul>
        </div>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% endblock %}